body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #1E88E5;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #90CAF9;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
}